header{
        align-items: center;
        color: grey;
        width: 100vw;
        display: flex;
        flex-direction: column;
}



.header{
    margin: 30px;
    font-size: 2em;
    color: darkcyan;
    animation: flow 3s ease infinite;
    background-size: 200% 100%;
    background: linear-gradient(right,red, blue, green, yellow);

}

body{
    background: linear-gradient(90deg, rgb(245, 149, 149),rgb(169, 243, 169), rgb(142, 142, 245), rgb(248, 154, 248), orange,purple);
    animation: flow 20s ease-in-out infinite;
    background-size: 400% 100%;
}

@keyframes flow{
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
            background-position: 50% 0;
    }

}

.main{
    margin-left: -8px;
    margin-top: -8px;

}

#myform{
    display: flex;
    justify-content: center;
    text-decoration: dashed;
    flex-direction: column;
    margin: 10px;
    padding: 15px;
    flex-wrap: wrap;
    display: flex;
}

#main-app{
    justify-content: center;
    display: flex;
    
}

input{
    margin: 10px;
    width: 80vw;
    height: 10vh;
    font-size: large;
}

#add,#delete{
    width: 39vw;
    border-radius: 6px;
}

#list{
    align-items: center;
    background-color: wheat;
    display: flex;
    border: 1px solid;
    width: 81vw;
    margin: 10px;
    border-radius: 3px;
}